[2013-08-30 12:37] stevengj opened #1 "README?"
No documentation

[2013-08-30 12:45] stevengj opened #2 "more provides for BinDeps"
apt: `libnettle4` (on [Debian](http://packages.debian.org/search?keywords=nettle&searchon=names&suite=stable&section=all) and [Ubuntu](http://packages.ubuntu.com/search?keywords=nettle&searchon=names&suite=raring&section=all)).

yum: `nettle` (on [Fedora](https://admin.fedoraproject.org/pkgdb/acls/name/nettle?_csrf_token=1ece9724023697508b59a344abda741e86ff8a29))

[2013-08-30 15:16] #2 closed, assigned to nobody

[2013-08-31 04:31] #1 closed, assigned to nobody

[2013-09-07 01:47] kmsquire opened #5 "error compiling/linking with Centos6 openssl"
Because of patent concerns, RedHat (and by extension, Centos) remove `ec.h` and `ecdsa.h` from the distribution of openssl.  This causes problems in building hogweed.

See https://bugzilla.redhat.com/show_bug.cgi?id=319901

[code]

[2013-09-17 20:11] GlenHertz opened #8 "Install error on RHEL 6.1: ERROR: no method package_available(Yum,)"
Hi,

I'm using RHEL 6.1 without root permissions and I get the following error on today's Pkg.update() version:

INFO: Installing Nettle v0.0.0
INFO: Running build script for package Nettle
WARNING: An exception occured while building binary dependencies.
You may have to take manual steps to complete the installation, see the error message below.
To reattempt the installation, run Pkg.fixup("Nettl

[2013-09-17 21:37] #5 closed, assigned to nobody

[2013-09-20 02:27] #8 closed, assigned to nobody

[2013-09-27 03:41] ihnorton opened #9 "Segfault on Win32"
`using IJulia` (or running ipython --profile julia) leads to:

[code]

cc: @vtjnash

[2013-09-27 16:25] #9 closed, assigned to nobody

[2013-09-27 18:51] danielfrg opened #11 "Error when installing on OS X"
I am unable to install the package in a clean Julia installation when running `Pkg.add("Nettle")`

Julia version: `Julia-0.2.0-pre-721c9fb988`

Log:

[code]

Any ideas to solve this?
Thanks

[2013-09-27 20:21] #11 closed, assigned to nobody

[2013-10-26 04:06] staticfloat opened #16 "Move to JuliaLang as well?"
Since this repository is (perhaps surprisingly) critical for IJulia functionality, should it be moved to JuliaLang as well?  I don't see myself doing anything useful with it beyond what I've already done.

[2013-12-16 05:57] Keno opened #17 "Cannot be statically compiled."
This package actually has a good example of why we may need some more sophisticated caching for ccall. In particular, we're reading function pointers out of a struct that we need to use in ccall. I guess we can use a global variable. Interesting use case nevertheless. Currently it throws a warning that it can't be statically compiled (@vtjnash, should we disable that warning if we're not in imagin

[2013-12-20 15:29] khag opened #18 "Error in Build Nettle"
After updating to the julia 0.3, the Nettle had build errors.
              _
   _       _ _(_)_     |  A fresh approach to technical computing
  (_)     | (_) (_)    |  Documentation: http://docs.julialang.org
   _ _   _| |_  __ _   |  Type "help()" to list help topics
  | | | | | | |/ _` |  |
  | | |_| | | | (_| |  |  Version 0.3.0-prerelease+600 (2013-12-20 08:48 UTC)
 _/ |\__'_|_|_|__'_|  |  C

[2014-01-09 03:19] fullerf opened #19 "Build error on Windows"
On Win7 64-bit, I received this error while trying to build Nettle (as a part of IJulia)

[code]

   _       _ _(_)_     |  A fresh approach to technical computing
  (_)     | (_) (_)    |  Documentation: http://docs.julialang.org
   _ _   _| |_  __ _   |  Type "help()" to list help topics
  | | | | | | |/ _` |  |
  | | |_| | | | (_| |  |  Version 0.2.0 (2013-11-16 23:44 UTC)
 _/ |\__'_|_|_|__'_|

[2014-01-09 19:18] #19 closed, assigned to staticfloat

[2014-02-02 19:27] jiahao opened #20 "Reuse gmp dependency?"
I just noticed on a fresh installation on OSX 10.9.1 that Nettle pulls a homebrew bottle of gmp 5.1.3. Since gmp is a dependency of Julia itself, would it make more sense to reuse the build from Julia rather than installing a fresh copy?

[2014-03-02 22:46] simonp0420 opened #21 "Problem installing on Windows"
After installing Julia 0.3.0-prelease on a 64-bit Windows 7 machine at work, I get the following error when trying to install Nettle:

[code]

I tried following this with `Pkg.update()` but Julia reported that no packges needed updating.

[2014-03-03 20:39] #21 closed, assigned to nobody

[2014-05-07 05:58] #18 closed, assigned to nobody

[2014-05-14 16:42] IainNZ opened #23 "[PackageEvaluator.jl] Your package Nettle may have a testing issue."
_This issue is being filed by a script, but if you reply, I will see it._

[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their test (if available) on both the stable version of Julia (0.2) and the nightly build of the unstable version (0.3).

The results of this script are used to generate a [packa

[2014-05-14 21:04] #23 closed, assigned to nobody

[2014-05-14 21:27] staticfloat opened #24 "Travis build failing due to `deps/deps.jl`"
@loladiro Do you know why this is happening? Is there something I need to do other than `Pkg.resolve()` in order to get `deps/deps.jl` to be generated?

https://travis-ci.org/staticfloat/Nettle.jl/jobs/25192726

[2014-05-15 19:02] #24 closed, assigned to nobody

[2014-05-15 19:06] #16 closed, assigned to nobody

[2014-07-02 12:58] quinnj opened #25 "segfault on windows"
Seeing this:

[code]

[2014-08-04 18:02] #25 closed, assigned to staticfloat

[2014-08-16 12:02] groggyjohn opened #27 "Nettle installation error when installing IJulia"
Hi

I'm finding I'm having a problem with Nettle installation, which is being pulled in as part of IJulia.

This is on an up-to date kubuntu 14.04, and using latest Julia commit.

Details below is for calling Pkg.build("Nettle"), but the same error occurs if I delete all packages and try reinstalling IJulia

I've tried apt-get removing libnettle4 so the script adds it in, but the error still occur

[2014-08-16 21:27] #27 closed, assigned to nobody

[2014-09-09 18:17] JeffBezanson opened #31 "not using brew when available?"
I just tried to help a bunch of mac users install ijulia, and it always seemed to try to compile nettle. This build always failed for some reason, sometimes involving gmp symbols. However more importantly, some of these users had homebrew installed and Nettle.jl's build script didn't try to use it. If they ran `brew install nettle` in a separate terminal, then the rest of the IJulia install went t

[2014-09-09 23:17] #31 closed, assigned to nobody

[2014-09-30 04:56] randall-romero opened #32 "missing file"
Hi,

While trying to install IJulia I got an error that led me to the file scr\Nettle.jl.  In line 3 it tries to include the file ../deps/deps.jl   which I think is missing.

Thanks!

Randall

[2014-10-01 15:58] jgbos opened #33 "/usr/bin/ld: cannot find -lgmp"
So unfortunately on the Linux system I am trying to install this package on the `libgmp` is not called `libgmp.so` but rather `libgmp.so.3` and therefore `gcc` does not find it.  Do you know the correct environment variable or change to the Makefile needed to get Nettle to build?

Thanks

[2014-10-02 19:14] #33 closed, assigned to nobody

[2014-10-16 20:05] stevengj opened #34 "load failure with Julia 0.4"
I just updated Nettle to `master` and tried with the latest Julia, and got:

[code]

[2014-10-16 20:08] #34 closed, assigned to nobody

[2014-10-25 21:34] killerswan opened #36 "provide a better message when a package needs to be built (and deps/deps.jl is missing)"
I filed https://github.com/JuliaLang/julia/issues/8815, which they closed, but it seems that we can fix it with Nettle, like so:

[code]

The relevant BinDeps issue: https://github.com/JuliaLang/BinDeps.jl/issues/100

[2014-10-26 07:37] #36 closed, assigned to nobody

[2015-03-26 12:57] sbromberger opened #40 "Nettle build fails with "WinRPM is not a package (not registered or installed)""
Please see https://github.com/JuliaLang/Homebrew.jl/issues/82 for the details (I originally thought this was a Homebrew problem).

[2015-03-27 01:02] staticfloat commented on #40
Closing as a bug in older versions of Julia, now fixed.

[2015-03-27 01:02] #40 closed

[2015-04-25 15:16] staticfloat commented on #17
This should be addressed by #42

[2015-04-25 15:16] #17 closed

[2015-04-25 15:16] staticfloat commented on #20
I'm closing this for now, as what we have going right now seems to work.

[2015-04-25 15:16] #20 closed

[2015-04-25 15:17] staticfloat commented on #32
I'm going to close this for now, as I believe this issue has been dealt with.  If I am wrong, please comment here and we can reopen the issue.

[2015-04-25 15:17] #32 closed

[2015-04-26 10:42] tkelman commented on #20
We also don't install gmp headers with `make install` or binary builds of Julia, so this wouldn't really work immediately.

[2015-04-27 21:21] randall-romero commented on #32
Thanks, Keno and staticfloat!

[2015-04-29 20:06] yuyichao opened #44 "Nettle 3.0/3.1 compatibility"
I've got the following segfault when running the tests on ArchLinux.
Julia 0.4-dev (should not matter)

Backtrace,
[code]

The line number is a little bit confusing but apparently it was the line 78 `ccall` that causes the segfault.

A quick look at my `nettle-meta.h` and [`nettle-types.h`](http://fossies.org/linux/nettle/nettle-types.h) shows that the signature of `nettle_set_key_func` doesn't ha

[2015-04-29 20:29] yuyichao commented on #44
Seems that the API/ABI breaks happend in `3.0` although I guess there might be more breakage since the soname changed again...

[2015-04-29 20:37] yuyichao commented on #44
P.S. Could you please also include a link to the CI result in the README like many other projects? It was a little bit hard to navigate there from the project main page...

[2015-04-29 20:48] yuyichao commented on #44
`jl_lookup_soname` doesn't seem to work for this purpose since it returns `libnettle.so` on my system (or maybe in general if the `.so` symlink is installed).

[2015-04-30 18:58] yuyichao commented on #44
Just tested and simply removing the length argument makes it work on Nettle 3.1.1.

Not sure about how to do the version check though. Idealy it should be done at runtime so that an upgrade of the library will not silently break the package. However, nettle doesn't seem to have a runtime interface to query the version.

[2015-05-01 15:58] staticfloat commented on #44
This is great work, thanks @yuyichao.  I've sent an email off to the [libnettle mailing list](http://lists.lysator.liu.se/mailman/listinfo/nettle-bugs) to see if we can't get runtime API versioning, which is pretty important for us here.  In the meantime, is there a symbol in the new API that is not in the old API?  That could be our poor man's test for what API we're dealing with.

[2015-05-02 01:20] #44 closed

[2015-08-07 17:40] stevengj opened #47 "take better advantage of precompilation"
Currently, there are a lot of things happening in the `__init__` statement, which makes precompilation not help much for Nettle.  I think this can probably be fixed.

e.g. consider `hash_init`.  Instead of defining a new type `<: HashAlgorithm` for each hash Nettle defines (detected at runtime), why not just work with `NettleHash` directly, with a constructor like `NettleHash(name::AbstractString)

[2015-08-24 18:54] AndyGreenwell opened #48 "Error building Nettle on Windows"
While attempting to install Nettle.jl as part of an IJulia installation for a 32-bit Julia 0.3.11 on a 64-bit Windows Server 2012 environment (I have justification for such madness), I am receiving build errors for both Nettle and ZMQ.  I will file a similar issue under ZMQ.jl.

A similar (or possibly the same) [issue](https://github.com/JuliaLang/IJulia.jl/issues/204#issuecomment-133918437) seems

[2015-08-24 19:56] AndyGreenwell commented on #48
Closing as this problem seemed to be related to the IE Enhanced Security Configuration setting being set to on, so this was essentially a firewall issue.

[2015-08-24 19:56] #48 closed

[2015-09-16 04:02] stevengj opened #49 "don't call @eval in hash_init()"
The `hash_init()` function in [hash.jl](https://github.com/staticfloat/Nettle.jl/blob/34306b6a2a421f9f4276f28380a6b66369f0dcb5/src/hash.jl#L31-L100) currently calls `@eval` on a bunch of definitions.  This is a bit ugly, and it interacts badly with precompilation (`Base.compilecache(:IJulia)` generates a raft of warnings).

It seems like it would be much cleaner to simply define
[code]
rather than

[2015-09-16 04:04] stevengj commented on #49
Similarly for `cipher_init()`.

[2015-09-16 04:04] stevengj commented on #49
cc: @jakebolewski; I seem to remember we discussed this.

[2015-09-16 15:56] eschnett opened #50 "Deprecated type name `Uint8`"
Nettle uses the deprecated type name `Uint8` e.g. in `hmac.jl`. After the recent Julia 0.4 release branch update, I see deprecation warnings about this.

[2015-09-16 19:03] #50 closed

[2015-09-16 19:08] staticfloat commented on #49
The question is whether we prefer to have the pointer lookups done once, at initialization, or every time someone tries to construct a hash.  I suppose lazily evaluating this would be better as most users will be interested in a small subset hashes.

[2015-09-16 21:17] stevengj commented on #49
Exactly.  And you don't need it every time they construct a hash, only when they construct a `HashAlgorithm`, which (in cases where it matters) can easily be constructed only once (for a given algorithm) per program execution.

Moreover, if it mattered you could also have the `HashAlgorithm(::AbstractString)` function memo-ize its results in a `Dict` cache.

[2015-09-25 08:40] Ken-B commented on #50
Thanks for the fix! Could you also tag a new version, so people don't have to checkout? Thanks.

[2015-09-26 06:21] staticfloat commented on #47
Closed by https://github.com/staticfloat/Nettle.jl/commit/ed4d932486b2bb5490b15f2fa894eb964459fc48, although a better selection of functions in `precompile.jl` wouldn't go amiss.

[2015-09-26 06:21] #47 closed

[2015-09-26 06:22] staticfloat commented on #49
Closed by https://github.com/staticfloat/Nettle.jl/commit/ed4d932486b2bb5490b15f2fa894eb964459fc48

[2015-09-26 06:22] #49 closed

[2015-09-26 06:25] staticfloat commented on #50
A large API breakage was recently performed on this repository; as soon as I have given package authors enough time to adjust, I will tag a new version.

[2015-09-26 09:17] bicycle1885 opened #55 "Release a new version."
Could you tag and release a new version?
v0.4.0-rc2 emits massive amounts of deprecated warnings.
Since IJulia.jl depends on this package, many people would be affected.

[2015-09-26 22:39] staticfloat commented on #55
`Nettle.jl` has recently had an API overhaul; the new API is much nicer, cleaner, and is faster to boot (in both senses of the phrase).  I have a new version pending merging into `METADATA.jl` [here](https://github.com/JuliaLang/METADATA.jl/pull/3537), but I want to give package authors that depend on `Nettle.jl`'s old API a chance to switch over gracefully.

[2015-09-27 05:56] bicycle1885 commented on #55
Great! Start-up time improvement would be significant to all users.

[2015-10-07 00:51] samoconnor opened #56 "Suggest adding keywords to github project description"
The github project description is currently: "Julia package for libnettle"
This is the text that shows up under "Nettle" at http://pkg.julialang.org.

Minor suggestion: change the description to:  "Julia package for libnettle (SHA1, SHA256, MD5 etc)"

This would make the package more discoverable to someone who knows they want to compute a common hash, but does not know anything about libnettle.

[2015-10-16 13:26] pearcemc opened #57 "Non-sudo build option"
Nettle came up as a dependency for another module (IJulia). Unfortunately I do not have sudo access in my environment, and was wondering if there was some way to install from source.

[2015-11-09 21:47] staticfloat commented on #57
Hello @pearcemc, sorry for the late response.

You can force a from-source build of Nettle with the following snippet:
[code]

This will download a tarball, compile it, and install it into a julia-specific directory.  This also works for any julia package that defines a `BuildProcess` method for building binary dependencies, [here's what it looks like](https://github.com/staticfloat/Nettle.jl/blob

[2015-12-19 23:36] tkelman commented on #55
https://github.com/JuliaLang/METADATA.jl/pull/3537 was merged, closing

[2015-12-19 23:36] #55 closed

[2016-01-10 11:20] samoconnor commented on #56
bump!

See what LibArchive.jl has put in their description: https://github.com/yuyichao/LibArchive.jl

[2016-01-14 22:17] staticfloat commented on #56
Hey Sam, sorry that this has taken so long.  For some reason, github doesn't email me when people perform actions on repositories that I own. I have to comment on a thread in order to see it, or be pinged by someone via @staticfloat.  In the future, please do not be shy of drawing my attention by pinging me.

I've updated the description, does what I've added look good?

[2016-01-14 23:09] samoconnor commented on #56
nice one @staticfloat
Nettle.jl is now getting a workout at https://github.com/samoconnor/AWSCore.jl

[2016-01-14 23:09] #56 closed

[2016-01-14 23:33] staticfloat commented on #56
Excellent, so glad that you find things like this helpful!

[2016-01-31 18:33] cookiemon opened #61 "Out-of-bounds writing and related unexpected behavior when element size > 1"
There are some problems when `key` or `data` is an Array or Strings with an element size > 1 (e.g. `Array{UInt32}` or `UTF16String`).

`encrypt!` and `decrypt!` can write out of bounds and only encrypt parts of the data. The constructors of `Encryptor` and `Decryptor` expect a longer key than necessary and ignores the extra characters that you have to pass.

Some examples of this behavior: https:/

[2016-02-09 01:31] szymmon opened #62 "Nettle install "None of the selected providers can install dependency nettle.""
I am trying to build "Nettle" to install "IJulia", I got an error:

julia> Pkg.build("Nettle")
INFO: Building WinRPM
INFO: Downloading https://cache.e.ip.saba.us/http://download.opensuse.org/reposi
tories/windows:/mingw:/win32/openSUSE_13.2/repodata/repomd.xml
INFO: Downloading https://cache.e.ip.saba.us/http://download.opensuse.org/reposi
tories/windows:/mingw:/win64/openSUSE_13.2/repodata/repomd

[2016-02-09 14:27] FrankWessels commented on #62
Same problem here. Eventually I got WinRPM to work by changing the source.list in WinRPM folder to
ftp://anorien.csc.warwick.ac.uk/download.opensuse.org/repositories/windows:/mingw:/win32/openSUSE_13.1/
ftp://anorien.csc.warwick.ac.uk/download.opensuse.org/repositories/windows:/mingw:/win64/openSUSE_13.1/

Nettle still fails. I was hoping to find an other provider here ;/

[2016-02-10 18:31] szymmon commented on #62
Problem solved by latest update. Pkg.update() does the trick.

[2016-02-10 18:32] #62 closed

[2016-02-11 22:34] staticfloat commented on #61
These are very good catches, and I'm commenting here to ensure that I remember to fix this.

[2016-02-17 09:39] HatsuneMiku opened #65 "You had better use 'sizeof()' instead of 'length()' ."
I think you had better use 'sizeof()' instead of 'length()' .

# fails by c assertion
willcauseassertion = "this is 16 (∀).."
length(willcauseassertion) # 16
sizeof(willcauseassertion) # 18
willcauseassertion.data == decrypt(dec, encrypt(enc, willcauseassertion))

# or unexpected through the length check
willbebroken = "this is 16 (∀)"
length(willbebroken) # 14
sizeof(willbebroken) # 16
willbebrok

[2016-02-18 00:57] HatsuneMiku commented on #65
Sorry, we had better use 'sizeof()' instead of 'endof()'/'length()' .
'endof()' returns curious values.

julia> endof("\u2200\u2200")
4
julia> endof("\u2200\u22007")
7
julia> endof("\u2200")
1
julia> endof("\u22004")
4

[2016-03-19 20:53] staticfloat commented on #61
Issues 1 and 3 in the script above have been addressed by #64, but the second issue persists.

[2016-03-19 21:02] staticfloat commented on #65
I believe this has been addressed by #64.

As a side note, the English expression "You had better...." has a stronger meaning than I believe you intend.  It's generally reserved for when someone _must_ do something (closer to しなくてはいけません than したほうがいい).  In this case, alternative phrases could be `It's better to use 'sizeof()' instead of 'length()'`, or even just 'Use 'sizeof()' instead of 'length()

[2016-03-19 21:02] #65 closed

[2016-03-19 21:02] staticfloat commented on #57
I am closing this, please open a new issue if troubles persist.

[2016-03-19 21:02] #57 closed

[2016-03-19 21:08] staticfloat opened #66 "Pkg.test() failure on OSX"
This isn't due to the recently-merged #64, but is reproducible on my OSX machine.  @tkelman is this a known problem with julia `v0.4.3` perhaps?

[code]

[2016-03-20 03:11] tkelman commented on #66
Not that I know of?

On Sat, Mar 19, 2016 at 2:08 PM -0700, "Elliot Saba" <notifications@github.com> wrote:

This isn't due to the recently-merged #64, but is reproducible on my OSX machine.  @tkelman is this a known problem with 0.4.3 perhaps?

[code]

---
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub:
https://github.com/staticfloat/Nettle.jl

[2016-03-20 03:41] sfchen opened #67 "Does Nettle have APIs to hash a file/stream?"
like following APIs:
* hexdigest("md5", open("data.txt"))
* hexdigest_file("md5", "data.txt")

[2016-03-26 21:50] staticfloat commented on #67
I like your first idea best, so I have implemented it in 37e1c9a8

[2016-03-26 22:15] tkelman commented on #67
though it's best to use `do` block syntax to avoid leaking file descriptors

[2016-04-17 17:08] #67 closed

[2016-04-17 17:12] staticfloat commented on #66
This apparently only happens with a Homebrew-built Julia

[2016-04-17 17:31] staticfloat commented on #61
@cookiemon I have revisited this, and I think the 2nd issue presented in your scripts is not an issue at all, but instead a mismatch of datatypes.

Your `data` input array is a `Uint16` of length 16, which will require 32 bytes of storage to encrypt.  `out1` is not long enough for this output, which previously was unnoticed but now is rejected by `encrypt!()` for being too short. `out2` is long en

[2016-04-17 17:31] #61 closed

[2016-04-19 17:28] leocastel opened #68 "Nettle show ERRORS when using openSUSE"
I cannot build Nettle.jl!
Does any one know how to fix that?
Thanks in advance.

julia> Pkg.add("Atom")
INFO: Nothing to be done

julia> using Atom
INFO: Precompiling module Atom...
ERROR: LoadError: libnettle not properly installed. Please run Pkg.build("Nettle")
[inlined code] from none:2
in anonymous at no file:0
while loading /home/leo/.julia/v0.4/Nettle/src/Nettle.jl, in expression starting o

[2016-04-19 23:51] staticfloat commented on #68
What build system does SUSe use?  Is it `apt-get` based?

[2016-04-20 11:44] leocastel commented on #68
SUSE is RPM-based and the command `apt-get` doens't work in SUSE;
I should be replaced by zypper,e.g., the command `apt-cache showpkg`  should be replaced by `zypper info `.

[2016-04-20 17:29] staticfloat commented on #68
What is the name of the `libnettle` package that you can install through `zypper`?

[2016-04-20 17:35] staticfloat commented on #68
Ah, looks like it's just [`libnettle`](https://build.opensuse.org/package/view_file/devel:libraries:c_c++/libnettle/libnettle.spec).  I've added the necessary provider in d4503edf39b784120fa8e2555b934999605b9945, to try it out please run `Pkg.update()`, `Pkg.checkout("Nettle", "zypper")`, followed by `Pkg.build("Nettle")` to see if it builds properly.

[2016-04-20 17:47] leocastel commented on #68
I did what you reccomended, but is not working yet.
Please, see what happend below:

julia> Pkg.update()
INFO: Updating METADATA...
INFO: Computing changes...
INFO: No packages to install, update or remove

julia> Pkg.checkout("Nettle","zypper")
INFO: Checking out Nettle zypper...
fatal: Cannot update paths and switch to branch 'zypper' at the same time.
Did you intend to checkout 'origin/zypper'

[2016-04-20 17:49] leocastel commented on #68
I can install `libnettle4` and `libnettle-devel` through `zypper`. Actually, they're already installed.

[2016-04-20 17:50] staticfloat commented on #68
Ah, I think I have found the issue.  Do you have `apt-get` installed?  E.g. can you run `apt-get` from the commandline?

[2016-04-20 17:52] leocastel commented on #68
You are right,  I cannot run `apt-get` form command line

[2016-04-20 18:41] staticfloat commented on #68
Wait, you can't?  So running `apt-get -v` on the commandline doesn't do anything?  Then I don't know what's going on here after all.  Hmmm.  Can you run the following and post the output:

[code]

[2016-04-20 19:19] leocastel commented on #68
There it goes.
julia> using BinDeps

julia> BinDeps.debug("Nettel")
INFO: Reading build script...
ERROR: could not open file /home/leo/.julia/v0.4/Nettel/deps/build.jl
 in debug_context at /home/leo/.julia/v0.4/BinDeps/src/debug.jl:54
 in debug at /home/leo/.julia/v0.4/BinDeps/src/debug.jl:59
 in debug at /home/leo/.julia/v0.4/BinDeps/src/debug.jl:65

[2016-04-20 19:28] staticfloat commented on #68
Please post the output of this:

[code]

[2016-04-20 19:31] leocastel commented on #68
julia> BinDeps.has_apt
true

julia> BinDeps.can_use(BinDeps.AptGet)
true

julia> success(`apt-get -v`)
true

[2016-04-20 19:35] leocastel commented on #68
When I used the success(`apt-get -v`), it oppened the YaST Control Center, which is responsible for software management

[2016-04-20 23:32] staticfloat commented on #68
Alright, so it sounds like you can run `apt-get` from the terminal, which is what's confusing everything. I have just merged [a pull request](https://github.com/JuliaLang/BinDeps.jl/pull/211) in to BinDeps that should do the trick.

Try running `Pkg.checkout("BinDeps")` and trying again.

[2016-04-21 00:55] leocastel commented on #68
Dear Elliot, you are the guy!
Everything worked perfectly.
Thank you very much for your kind help.
Cheers,

[2016-04-21 09:42] #68 closed

[2016-07-02 13:23] samoconnor opened #72 "Deprecation fix"
[code]

[2016-07-20 17:57] tkelman commented on #72
included in #71. open pull requests rather than posting patches in issues please.

[2016-07-20 17:57] #72 closed

[2016-08-03 15:31] pstaabp opened #73 "warning with Pkg.build on julia-0.5"
I was building IJulia which has a Nettle dependency and got the following warning:
[code]

[2016-08-04 16:31] stevengj opened #74 "could not spawn `yum list nettle` on MacOS"
Doing `Pkg.build("Nettle")` with a fresh Julia master install gives:
[code]
on MacOS, which is surprising since it shouldn't even be using  `yum` on a Mac.

Same error with both the tagged and master versions of Nettle, Homebrew, and BinDeps.

[2016-08-04 16:35] stevengj commented on #74
Commenting out the `provides( Yum, "nettle", nettle )` line in deps/build.jl fixes the problem.

cc @tkelman, @Keno — has something changed recently in BinDeps that would break Nettle's build script?

[2016-08-04 17:03] tkelman commented on #74
How recently? In theory the first page or two of https://github.com/JuliaLang/BinDeps.jl/commits/master is mostly deprecation fixes or test adjustments inside BinDeps. Can you bisect against BinDeps if it's repeatable?

[2016-08-04 17:52] stevengj commented on #74
Yes, it's repeatable.  Git bisect says that the first bad commit is https://github.com/JuliaLang/BinDeps.jl/commit/91fce47c8f5f367b107aed242bb3979fbb7de4d7:
[code]
cc @ranjanan

[2016-08-04 17:53] stevengj commented on #74
(Which makes no sense to me.)

[2016-08-04 17:56] tkelman commented on #74
maybe that does need to be `@static`?

[2016-08-04 17:57] stevengj commented on #74
Wait, now I can no longer reproduce the problem... so the bisect results are probably meaningless.

[2016-08-04 17:59] stevengj commented on #74
Grrr, I don't know what happened.  After bisecting, the problem suddenly went away.

[2016-08-04 19:04] stevengj commented on #74
The problem seems to occur intermittently on Windows, too — see the AppVeyor failure in #75.

[2016-08-04 19:06] tkelman commented on #74
Try on rc0? Both rc1 and the nightlies have some important pieces of the type system and precompilation a bit broken, unfortunately.

[2016-08-05 21:41] yuyichao commented on #74
Should have been fixed on release-0.5 and master

[2016-08-06 00:16] stevengj commented on #74
Awesome, I'll close this; will reopen if I ever see it again.

[2016-08-06 00:16] #74 closed

[2016-08-08 16:41] staticfloat commented on #73
Should be fixed on `master` by https://github.com/staticfloat/Nettle.jl/commit/b79fd3fe02983a57b9e8ab2271b63d2e8679668b, after the next tagged release that should go away for everyone.  Thanks for reporting!

[2016-08-08 16:41] #73 closed

[2016-08-14 14:25] ranjanan opened #77 "Tag new release?"
@staticfloat The latest tagged version has some deprecation warnings (and also failed failed tests for me). Master is fine though. Could you please tag a new release?

[2016-08-14 16:53] staticfloat commented on #77
Metadata.jl PR: https://github.com/JuliaLang/METADATA.jl/pull/5968

[2016-08-23 06:11] #77 closed

[2017-02-10 06:06] rdeits opened #80 "Precompile failing with julia 0.6-dev"
Pinging @staticfloat as requested.

I'm getting errors during precompilation of Nettle on Julia master:

[code]

The relevant line in `precompile.jl` is:

[code]

and several other lines which also attempt to precompile calls to `Nettle.call`. Presumably this is failing because `call` overloading is dropped in 0.6, although from the Travis logs it looks like this *was* working on 0.6-dev as of Jan

[2017-02-10 19:21] staticfloat commented on #80
Sounds good to me.  I auto-generated these calls through `SnoopCompile.jl`, so as long as things work, I'm happy.  Thanks for the complete analysis, this is a great bug report.  :)

[2017-02-10 20:36] rdeits commented on #80
Ok, thanks! I've opened #81 with the fix.

[2017-02-10 21:56] #80 closed

[2017-02-15 20:46] rdeits opened #82 "Tag a new release?"
Hi @staticfloat . Would you be willing to tag a new release of Nettle.jl? The issues resolved in #81 are causing packages that depend on IJulia to fail on v0.6-dev.

[2017-02-15 22:28] staticfloat commented on #82
https://github.com/JuliaLang/METADATA.jl/pull/7980

[2017-02-23 01:57] #82 closed

[2017-04-03 15:55] yakir12 opened #83 "@async"
Ping @staticfloat!
spawning a `@async hexdigest("MD5", file)` isn't spawned away, it's stuck until the process is finished. Since calculating the md5sum for large files can take a while, it would be great if asyncing these commands would work as expected.
Thanks a lot!

[2017-04-03 15:57] yuyichao commented on #83
This is not what `@async` is for. It does not run things in background.

[2017-04-03 16:27] staticfloat commented on #83
What @yuyichao is trying to say, is that unless you are using a multithreading version of Julia (still experimental, and not the default) there is only one "thread" of computation within Julia.  The `@async` macro will create what is called a "[coroutine](http://docs.julialang.org/en/release-0.5/manual/control-flow/#man-tasks)", but this coroutine does not run at the same time as your other code;

[2017-04-03 18:03] yakir12 commented on #83
OK, Thanks. I'll try to see if I can rearange my code to comply with this scheme. I think I could make this work since most of what the program is doing is wait on input from the user - at which point the Task could switch to md5suming.
Thanks again!

[2017-04-04 07:46] #83 closed

[2017-04-11 00:33] staticfloat commented on #66
Since this doesn't happen on 0.5, I'm going to call this irrelevant.

[2017-04-11 00:33] #66 closed

[2017-11-06 15:16] rausm opened #89 "Cloning hash state"
Hi,

I needed to copy the hashing state (avoiding recomputation for common prefixes).
Following worked well, and I'd like it to be included (IMO commonly supported functionality).

`copy(hsh:: Hasher) = Hasher(hsh.hash_type, copy(hsh.state))`

Thanks.

edit: ping @staticfloat

[2018-04-14 00:19] polytomous opened #92 "Deprecation warnings, 0.6->0.7"
@staticfloat
I took a shot at removing some of the deprecation warnings in Nettle for 0.7. If you'd like a diff for that, here you goooo: https://github.com/polytomous/Nettle.jl/commit/3481971abb37a9964358a67937164fb7666a61cc

(There's one more small change after that, but you can look around yourself.)

If you absoutely want my changes, I'll prepare a PR. Otherwise just wanted to let you know wha

[2018-04-14 00:31] staticfloat commented on #92
Yes please, definitely open a PR!  :)

[2018-06-06 18:50] essenciary opened #95 "Does not build on macOS with Julia v0.7"
@staticfloat There are multiple issues. I tried fixing it and addressed the obvious problems, until I got stuck -- I don't understand how is this supposed to work:

[code]

[2018-06-06 19:09] staticfloat commented on #95
Please open a PR with your changed code, that will be important for me to see what you've changed.

[2019-04-08 13:59] disleyland opened #97 "Distributed and Nettle packages are conflicting on Julia 1.1"
@staticfloat

On Julia 1.1  this fails:

Using Distributed, Nettle
addprocs(1)

Error below:

fatal: error thrown and no exception handler available.
#<null>
reset_page at /Users/osx/buildbot/slave/package_osx64/build/src/gc.c:1044 [inlined]
add_page at /Users/osx/buildbot/slave/package_osx64/build/src/gc.c:1080
jl_gc_pool_alloc at /Users/osx/buildbot/slave/package_osx64/build/src/gc.c:1142
Type a

[2019-04-08 18:06] staticfloat commented on #97
Interesting; I am inclined to think that this is not a `Nettle` issue, but rather something wrong with `Distributed` or something else in your system.  If you do not `using Nettle`, does the issue still occur?

[2019-04-08 20:53] disleyland commented on #97
Hi

Brand new installation. Without nettle its fine. But with it fails. Ill try yet another install and see if same thing persists

[2019-04-08 22:51] disleyland commented on #97
Hi,  yes very strange, something in my system, as i tried a different mac and ubuntu and was fine there.  but for the life of me i can't figure out what and the error doesn't lead me to it.  I've clean out v1.1 from the environments folder and compiled. replaced the julia 1.1 package with new download, and installed just Nettle so its the only package available, same problem.  Any tips on what els

[2019-04-09 08:49] staticfloat commented on #97
When you run `addprocs(1)`, it launches a second process of Julia, and that second process seems to be dying, so let's figure out if we can discover what the command being used to launch that second process of Julia is.

I think the most likely explanation is that there is some other `libnettle` or something that the second Julia process is picking up.  Can you use `ps aux` to see the launch comma

[2019-04-09 11:29] disleyland commented on #97
Ok i've figured out the problem by comparing a completely new 1.1 setup with only Nettle added, to my pre-existing configuration.  when Nettle was added on a new 1.1 BUT within a preexisting 1.0+ environment, the nettle build used a pre-existing and seemingly incompatible BinaryProvider package i had installed earlier on a Julia 1.0 config. So while in the package status, i thought i had the lates

[2019-04-10 22:07] staticfloat commented on #97
Ah, interesting.  I didn't realize that an older `Nettle` version could cause things to break so badly.

The `upgrade` command put into the `pkg> ` prompt should fix this in the future.

[2019-04-10 22:07] #97 closed

[2019-05-16 19:33] programistawpf opened #98 "Is possible to save this decryptor dec ?"
Very usefull package! Thanks.
I need to save and keep decryptor !  Is possible to save this decryptor ?

[code]

is not possibile with JLD or JLD2 , do you hav esome idea?
Paul

[2019-10-30 23:03] akels opened #99 "A compat section is missing as well as Project file."
Currently, AutoMerge complains about this package does not have a [compat] section. It seems that project files are also not existent.

@staticfloat is there a reason for not having a project file at this moment?

[2019-10-30 23:03] staticfloat commented on #99
Nope! Just never got around to it, I guess.  Feel free to open a PR creating one (make sure the UUID is the same as the auto-assigned one from the `General` registry).

[2019-10-30 23:04] staticfloat commented on #98
I think you will need to serialize the decryptor; what errors do you encounter with JLD2?

[2019-10-30 23:05] staticfloat commented on #95
I'm going to consider this solved for now.  :)

[2019-10-30 23:05] #95 closed

[2019-10-30 23:05] staticfloat commented on #92
I'm going to consider this fixed. :)

[2019-10-30 23:05] #92 closed

[2019-10-30 23:05] staticfloat commented on #89
Feel free to open a PR with suggestions for improvements!

[2019-10-30 23:05] #89 closed

[2019-10-30 23:18] JanisErdmanis opened #100 "Make a type for every hash function"
Currently, it is not possible to write a hash function generic security protocols. To understand that, consider data and hash value. Let's say we want to test that the hash value corresponds to the data:
[code]
The problem is that one can not make that generic.

A resolution for such a problem is to give type information for the hashes. Thus one could write a generic function:
[code]

I started to

[2019-10-30 23:20] akels commented on #99
Ok. I will look into that in weekend.

[2020-03-01 19:20] hros opened #103 "use Nettle_jll artifact"
@staticfloat please use the new jll artifacts of BinaryBuilder ([link](https://github.com/JuliaPackaging/Yggdrasil#using-the-generated-tarballs))

Specifically, a Nettle_jll is already available in the repository

Using it in Nettle.jl would be easier and would guarantee that only a single version of libnettle.so is installed in the local julia package repository

[2020-04-02 23:23] #103 closed

[2020-04-02 23:45] #99 closed

[2020-05-20 13:16] AubinMoreau opened #105 "Can't import Nettle"
Hi guys, sorry to bother you but each time i try to add Nettle, i got an error :

`(v1.2) pkg> add Nettle
 Resolving package versions...
ERROR: Unsatisfiable requirements detected for package BinDeps [9e28174c]:
 BinDeps [9e28174c] log:
 ├─possible versions are: [0.7.0, 0.8.9-0.8.10, 1.0.0-1.0.1] or uninstalled
 ├─restricted by compatibility requirements with Nettle [49dea1ee] to versions: [0.7.0,

[2020-05-21 19:21] staticfloat commented on #105
You have a pkg resolver conflict; this means that your package versions are incompatible.  It looks like because you are using Julia 1.2, you cannot install the latest version of `Nettle` (which is 0.5.0), and the older version of `Nettle` requires a version of `BinDeps` that conflicts with something else.

My advice is to upgrade to Julia 1.4; the newer version of `Nettle` does not require `BinDe

[2020-05-25 07:04] AubinMoreau commented on #105
I can't change my julia version (the project needs to be in Julia 1.2) but i will check if there is a way to avoid those conflicts, thx !

[2020-05-27 13:26] #105 closed

[2020-12-01 00:17] synxroform opened #106 "PBKDF2"
Can you help me with PBKDF2 function ? Can't find it in your library. It will be helpful for web frameworks.

[2021-01-12 06:04] BioTurboNick commented on #106
This implements a 1-round PBKDF2 with SHA256. Something to start with anyway.

(from my https://github.com/BioTurboNick/Scrypt.jl)

[code]

[2021-01-12 06:34] BioTurboNick opened #107 "Nettle.jl 0.5.0, Julia 1.6, and Windows"
@staticfloat

One of my packages has been getting failures on Travis-CI specifically with Julia 1.6. Now that 1.6 is in beta, starting to investigate.

It works fine on my local Windows computer, so it might just be Travis.

The error I'm getting:

[code]

[2021-01-23 04:12] QuantumBits commented on #107
I'm seeing the same issue when trying to precompile [Genie](https://github.com/GenieFramework/Genie.jl) v1.12.0 which loads in Nettle v0.5.0.

It looks like I c an't load the `libhodgweed-4.dll` library. I'm working on my local Windows 10 PC, also running Julia 1.6.0-beta1, so I think this isn't just a Travis-CI issue.

[code]

System info for context

[code]

[2021-01-23 04:56] QuantumBits commented on #107
Update: looks like I just needed to adjust my terminal's permissions lol - as soon as I "ran as Administrator" everything ran just fine.

Could be related to this issue? https://github.com/JuliaPackaging/Yggdrasil/issues/1969

[2021-03-18 20:53] BioTurboNick commented on #107
@staticfloat Verdict if it's a Nettle issue or Julia 1.6 issue or Travis issue? Then I'll know who to bother. :-)

[2021-03-18 20:58] staticfloat commented on #107
Can you verify that it happens on 1.6-rc2 from a fresh depot?  E.g. run `JULIA_DEPOT_PATH=<some temp path> julia` then install Nettle and ensure it fails in this manner?

[2021-03-18 21:38] BioTurboNick commented on #107
It only happens on Travis so I guess I assumed it was clean each time. I don't know how it's set up. It reports to be 1.6.0-rc3.

I guess I should be posting over on the Travis/Julia discord that I see in the output instead of here?

[2021-03-18 21:45] BioTurboNick commented on #107
Sorry for the premature post. Thought I had confirmed it was only on Travis but nope, my local system had a problem too.

It is 1.6.0-rc3

Trying your suggestion

[2021-03-18 21:47] BioTurboNick commented on #107
Yes, Nettle fails to install when I use a temporary directory.

[2021-03-20 02:56] staticfloat commented on #107
Okay, I found the issue, and it is quite simple to fix.  We just need to regenerate a new version of Nettle over at Yggdrasil.  I have [a PR here](https://github.com/JuliaPackaging/Yggdrasil/pull/2707), but for some reason it failed on a few platforms; just need to shepherd that through.

[2021-03-20 17:15] staticfloat commented on #107
Can you `]update` and try again?

[2021-03-20 19:14] BioTurboNick commented on #107
Hmm, I'm getting an error inside Nettle now, affecting all versions of Julia and platforms:

[code]

[2021-03-20 19:36] BioTurboNick commented on #107
I'm not super familiar with libnettle, but I think they added an underscore at some point? https://git.lysator.liu.se/nettle/nettle/-/commit/8bf4747d9cca7fd2cdd6ca8e14bce7cb334b2a7a

`unsafe_load(cglobal(("_nettle_hashes",libnettle),Ptr{Ptr{Cvoid}}),hash_idx)`

[2021-03-21 04:32] zsunberg opened #108 "could not load symbol "nettle_hashes""
When opening an issue, please ping `@staticfloat`.

With Nettle_jll 3.5, I am getting a `could not load symbol "nettle_hashes"`. See e.g. https://github.com/zsunberg/DMUStudent.jl/runs/2158159838?check_suite_focus=true#step:7:223 (have not had time to generate a minimum working example). It looks like this may have also happened in #107.

[2021-03-21 04:33] zsunberg commented on #108
not sure if the original issue pinged you with the backquotes @staticfloat. This is to make sure.

[2021-03-21 23:31] #107 closed

[2021-03-22 00:16] BioTurboNick commented on #107
Confirmed, thanks!

[2021-04-08 10:15] giordano commented on #108
Fixed by #109?

[2021-04-10 00:16] zsunberg commented on #108
Yep, it appears to be fixed!

[2021-04-10 00:16] #108 closed

[2021-09-17 23:33] #106 closed

[2022-03-13 02:50] maple3142 opened #110 "Padding should be checked when trimming"
https://github.com/JuliaCrypto/Nettle.jl/blob/9aa25aa0f364aa213622ece6e57a593c84943ade/src/cipher.jl#L90-L93

This functions trims the padding without checking whether it is valid, which means attackers could use CBC bit-flipping to control the last byte and thus controls the length of decrypted plaintext. This might cause some problem depends on how it is used. An example is https://github.com/Ge

[2022-03-15 04:01] AbhimanyuAryan commented on #110
@staticfloat

[2022-03-15 18:35] staticfloat commented on #110
Sorry, I didn't write this code, so I'm not sure what it means to check whether it's valid.  Can you provide a PR showcasing what you mean?

[2022-03-15 18:38] Keno commented on #110
The removed bytes need to be checked to make sure they're all the same. Otherwise it enables various attacks.

[2022-03-15 18:42] Keno commented on #110
See https://en.wikipedia.org/wiki/Padding_oracle_attack

[2022-03-16 12:04] maple3142 commented on #110
It is not padding oracle attack because there is no error.
Correct padding should end like this:

[code]

And these are incorrect paddings:

[code]

But this code didn't check for the padding, it simply trims it.

[2022-06-20 10:10] nandoconde opened #111 "Pushing for v1.0"
Hello

I see the repo has been stable for a year and the number of stars is not too bad. Is there anything holding back a v1.0 release?

It would display a very good image of the maturity and stability of the cryptography ecosystem in Julia.

@staticfloat

[2022-06-20 15:27] staticfloat commented on #111
I think one thing that would be useful first is to solve #110.  My understanding is that it should be fairly simple, we just need to check that `all(data[end-padlen:end] .== data[end])`, and if not, we should raise an error.  Also, we would need tests for it.

[2022-06-22 06:58] nandoconde opened #113 "Remove AbstractString names for Ciphers?"
Revising the code I noticed that names are saved as `AbstractString`. Not that it matters much performance-wise, since everything is done in the C-callee, but maybe it is unnecessary, and they could be plain old regular `String`.

Plus, maybe it makes sense to have them be `Symbol` because it is more idiomatic, but I do not feel very strong about this.

@staticfloat

[2022-06-22 16:01] staticfloat commented on #113
Agreed, it should be a `String`, not an `AbstractString`.

[2022-06-23 08:14] AbhimanyuAryan commented on #110
Thanks a lot, @staticfloat when will there be a new tagged version for Nettle?

[2022-06-24 06:29] #113 closed

[2022-06-24 06:39] nandoconde commented on #111
Well, now that the small issues have been closed, what would be the roadmap?
Maybe updating the binaries to the latest Nettle?

@staticfloat

[2022-06-24 15:25] staticfloat commented on #111
Since we're pretty convinced that the current Nettle binaries are stable, let's just keep with these and update later when someone actually needs a new feature.  :)

[2022-06-24 15:25] #111 closed